body{
  background-color: black;
  color: white;
}

:root{
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;   
}

button{
  display: flex;
  flex-direction: column; /* Stacks buttons vertically */
  gap: 15px; 
}